.exonChart {
  padding: 5px;
}

#exon > label{
  display: none;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#exon > label.active{
  display: block;
}


#tooltip-exon {
        position: absolute;
        width: 200px;
        height: auto;
        opacity:0.75;
        padding: 10px;
        background-color: #222222;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        pointer-events: none;
        color: #f2f2f2;
}

#tooltip-exon.hidden {
        display: none;
}

#tooltip-exon p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
}

.exonData:hover{
  stroke-width: 7;
  stroke:#f0533f

}

.exonData {
-webkit-transition:0.3s ease all;
   -moz-transition:0.3s ease all;
    -ms-transition:0.3s ease all;
     -o-transition:0.3s ease all;
        transition:0.3s ease all;
}