
.charts-container{
  width: 90%;
  margin: 80px 60px;
  display: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #e1e1e1;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}


.tooltip {
  -webkit-transition:0.3s ease all !important;
     -moz-transition:0.3s ease all !important;
      -ms-transition:0.3s ease all !important;
       -o-transition:0.3s ease all !important;
          transition:0.3s ease all !important;
}

/*Hover functions*/
.activeHover{
  opacity:1.0;
}
.desactiveHover{
  opacity: 0.1;
}
