/*Annotations*/

#annotations {
  display: none;
}

#annotations .header{
  background-color: #333;
  padding: 20px 65px;
}

#annotations .header h4 {
  display: inline-block;
  color: #f2f2f2
}

#annotations .content >.nav-container{
  background-color: #333;
}

#annotations .nav-container> ul.nav{
  margin: 0px 65px;
}

#annotations .nav-container> ul.nav a{
  color: #f2f2f2
}
#annotations .nav-container> ul.nav li.active a{
  color: #555
}
#annotations .nav-container> ul.nav li a:hover{
  color: #555
}

.btn-download{
  color: #fff;
  background-color: #0BADEB;
  border-color: #0BADEB;
}

.btn-download-fasta {
  color: #fff;
  background-color: #333333;
  border-color: #f2f2f2;
  margin-left: 20px;
}

.btn-download-fasta:hover {
  color: #fff;
  background-color: #333333;
  border-color: #f2f2f2;
}

.nav-tabs{
  border-bottom: 0px;
}

.tab-content{
  margin-bottom: 270px;
  padding: 20px
}

.panel-heading:hover{
  cursor: pointer;
}

.panel-heading:hover{
  cursor: pointer;
}

.panel-title p{
  margin: 0;
  font-size: 12px;
  display: inline-block;
}

.panel-title .glyphicon{
  font-size: 12px;

  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

}

.glyphicon-remove:hover{
  color: #AB1800
}

.panel-collapse p{
  display: inline-block;
  float: left;
  width: 33%;
}



