
.protein_selection .logo_container {
	height: 100%;
	padding-top: 265px;
	background-color: #0BADEB;
}

.protein_selection .logo_container img {
    margin: 0 auto;
}

.protein_selection .search {
	height: 100%;
	padding-top: 265px;
	padding-left: 100px;
	color: #363739;
}

.protein_selection .search h2{
	margin: 0;
	margin-bottom: 65px;
	width: 750px;
	color: #363739;
}

.protein_selection .search h3{
	margin: 0;
	margin-bottom: 20px;
}


.protein_selection .header{
	background: url('https://s3.amazonaws.com/vizport.io/vizone_dev/assets/bg_home_one.png') center;
}
.protein_selection .header h2{
	margin: 60px auto;
	color: #ffffff;
}

.protein_list{
	margin: 0;
	margin-top: 80px;
	padding: 0;
}

.protein_list:after{
	content: "";
	clear: both;
	display: table;
}

.protein_item{
	display: inline-block;
	float: left;
	height: 160px;
	width: 20%;
	margin-bottom: 30px;
	padding: 0 10px;
}
.protein_item a{
	text-decoration: none;
}

.protein_item .content {
	border-radius: 10px;
	background-color: #e2e2e2;
	height: 100%;
	width: 100%;
	transition: background-color 0.3s ease;
}

.protein_item .content:hover{
	cursor: pointer;
	background-color: #21aee9;
}

.protein_item .content .tittle, .protein_item .content  .description{
	margin: 0 15px;
	color: #707070;
	text-align: center;
	font-size: 24px;
	padding-top: 10px;
	border-bottom: 1px solid #707070;
	transition: color 0.3s ease;
	transition: border 0.3s ease;
}
.protein_item .content .description{
	border: none;
	font-size: 18px;
}


.protein_item .content:hover .tittle, .protein_item .content:hover .description{
	color: #eeeeee;
	border-color: #eeeeee;
}
